<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coraline.library.mapper.BorrowRecordMapper">
    <!-- 新增借阅记录 -->
    <insert id="insert">

        INSERT INTO borrow_record
        (
        user_id,
        book_id,
        borrow_time,
        status
        )
        VALUES
        (
        #{userId},
        #{bookId},
        NOW(),
        1
        )

    </insert>

    <!-- 查询用户当前借了多少本书 -->
    <select id="countBorrowingByUserId" resultType="int">

        SELECT COUNT(*)
        FROM borrow_record
        WHERE user_id = #{userId}
        AND status = 1

    </select>

    <!-- 查询用户是否已经借过这本书 -->
    <select id="countUserBook" resultType="int">

        SELECT COUNT(*)
        FROM borrow_record
        WHERE user_id = #{userId}
        AND book_id = #{bookId}
        AND status = 1

    </select>

    <!-- 根据借阅记录id查询 -->
    <select id="findById" resultType="BorrowRecord">

        SELECT *
        FROM borrow_record
        WHERE id = #{id}

    </select>


    <!-- 查询全部借阅记录 -->
    <select id="findAll" resultType="BorrowRecord">

        SELECT *
        FROM borrow_record
        ORDER BY borrow_time DESC

    </select>



    <!-- 归还图书 -->
    <update id="returnBook">

        UPDATE borrow_record
        SET
        status = 0,
        return_time = NOW()
        WHERE id = #{id}

    </update>
</mapper>
